html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.app {
  display: flex;
  font-family: 'Archivo Black', sans-serif;
}

.sidebar-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 4.3rem;
  min-height: 100vh;
  padding-top: 1.5rem;
  border-right: solid 1px rgb(193, 191, 191);
}

.main {
  width: calc(100% - 4.3rem);
}

.navbar-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 2.8rem;
  width: 100%;
  padding: 0 2rem;
  border-bottom: solid 1px rgb(193, 191, 191);
}

.navbar-title {
  font-size: medium;
  font-weight: 600;
}

.builder-container {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #333333;

  /*Change later*/
  min-height: calc(100vh - 2.8rem);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 0rem;
  border-bottom: solid 1px rgb(147, 141, 141);
  margin: 0 3rem;
}

.input-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

.input-element h2 {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.input {
  border-radius: 1rem;
  border: solid 1px rgb(120, 119, 119);
}

.input-field-necessary {
  height: 2.5rem;
  width: 10rem;
  padding: 0rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.button {
  border-radius: 50px;
  cursor: pointer;
}

.button-submit {
  width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 550;
  border: none;
  color: white;
  background-color: #61c8d8;
}

.flow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-workflow {
  font-size: xx-large;
  padding: 2rem 3rem;
  text-decoration: underline;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 2rem 5rem;
  border-radius: 1rem;
  background-color: #e7e0e6;
  margin-bottom: 4rem;
}

.search-question {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: x-large;
  color: rgb(59, 57, 57);
}

.input-question {
  height: 2.5rem;
  padding-left: 1rem;
  font-size: large;
  width: 90%;
}

.list-suggestion {
  color: #606060;
  font-weight: 400;
  font-size: medium;
  list-style: none;
  background-color: #ffffff;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-suggestion li {
  padding: 0.6rem 0.4rem;
  cursor: pointer;
}

.list-suggestion li:hover {
  text-decoration:  underline #61c8d8;
}

.input-message-text {
  height: 10rem;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-choose-action {
  height: 3rem;
  width: 60%;
  margin-top: 1.5rem;
  background-color: #987b7b;
  color: #ffffff;
  border: solid 1px rgb(120, 119, 119);
  font-family: 'Archivo Black', sans-serif;
}

.search-suggest-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-element-container {
  width: 30%;
}

.workflow-element {
  background-color: #e7e0e6;
  color: #333333;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.workflow-element-text {
  white-space: 'pre-line';
}

.workflow-step {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.workflow-action-type {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.workflow-action-type h2 {
  margin-right: 0.3rem;
  font-size: 1.2rem;
}

.workflow-action-type h3 {
  font-size: 1rem;
}

.workflow-content h2 {
  font-size: 1.2rem;
}

.workflow-content h3 {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}
