html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.app {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.sidebar-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 4.3rem;
  height: 100vh;
  padding-top: 1.5rem;
  border-right: solid 1px rgb(193, 191, 191);
}

.main {
  width: calc(100% - 4.3rem);
}

.navbar-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 2.8rem;
  width: 100%;
  padding: 0 2rem;
  border-bottom: solid 1px rgb(193, 191, 191);
}

.navbar-title {
  font-size: medium;
  font-weight: 600;
}

.builder-container {
  box-sizing: border-box;
  margin: 0 3rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 0rem;
  border-bottom: solid 1px rgb(147, 141, 141);
}

.input-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

.input-element h2 {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.input {
  border-radius: 1.5rem;
  border: solid 1px rgb(120, 119, 119);
}

.input-field-necessary {
  height: 2.5rem;
  width: 10rem;
  padding: 0rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.button {
  border-radius: 50px;
  cursor: pointer;
}

.button-submit {
  width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 550;
  border: none;
  color: white;
  background-color: #61d8b6;
}











